body {
    background-color: black;
    color: green;
}

table.grid {
    margin: 2rem auto;
    box-sizing: border-box;
    border-spacing: 0px;
    table-layout: fixed;
}

table.grid td.cell {
    background-color: #444444;
    border: 1px solid black;
    border-right: none;
    border-bottom: none;
    box-sizing: border-box;
    height: 15px;
    width:15px;
}

table.grid td.cell:last-child {
    border-right: 1px solid #444444;
}

table.grid tr.row:last-child {
    border-bottom: 1px solid #444444;
}

table.grid td.cell.alive {
    background-color: green;
}
